* {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Serif Pro', serif;
}
.cleaner {
    clear: both;
}
#header {
    background-image: url("../img/header-background-dark_50.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: #F0F0F0;
    color: #ffffff;
}
#header a {
    color: #ffffff;
}
.logo {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0px;
    margin-left: 50px;
    margin-top: 20px;
    float: left;
    border-radius: 50%;
    animation-name: logo;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes logo {
    from {left: -200px;}
    to {left: 50px;}
}
.logo a {
    display: block;
    height: 150px;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    transition: opacity 0.25s ease-in-out;
}
.logo img{
    width: 150px;
    height: 150px;
    margin: 0px;
    border-radius: 50%;
}

.logo a:hover {
    opacity: 0.5;
}
#header-name {
    width: 500px;
    margin: 0px auto;
    text-align: center;
    font-size: 30px;
}
#header-name h1 {
    font-size: 100px;
    padding-top: 50px;
}
#header-name h2 {
    padding-bottom: 50px;
}
#search-header {
    float: right;
}
.search-icon {
    cursor: pointer;
}
#sign-in {
    float: right;
    padding: 10px;
}
#sign-in a {
    color: #0000FF;
    transition: color 0.15s ease-in-out;
}
#sign-in a:hover {
    color: #009eff;
}
#nav-main {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #f7f7f7;
    z-index: 3;
    border-bottom: 1px solid #9f6934;
}
#nav-ul {
    text-align: center;
}
#nav-ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    margin-left: -5px;
    padding: 10px 0px;
}
#nav-ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    margin: 0px;
    padding: 10px 15px;
    transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out;
}
#nav-ul li a:hover {
    opacity: 0.5;
    color: #531D09;
}
#nav-ul li a.active-a {
    color: #ffffff;
    background-color: #531D09;
}
#content {
    width: 100%;
    padding-top: 50px;
}

#main-content {
    width: 56%;
    text-align: justify;
    font-size: 20px;
    text-indent: 50px;
    margin: 0px auto;
    float: left;
    margin: 0px 2%;
}
#main-content h3 {
    margin: 25px 0px;
}
.content-img-container {
    width: 100%;
    height: 100px;
    margin-top: 200px;
    background-image: url("../img/content-section-img1-dark.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#osnivaci-container {
    width: 100%;
    margin-top: 200px;
    text-align: center;
}

.osnivaci-inner-container {
    width: 50%;
    float: left;
}

.osnivaci {
    width: 90%;
    margin: 20px auto;
    background-color: #f7f7f7;
}
.osnivaci-delo {
    text-align: justify;
    overflow-wrap: break-word;
    padding-top: 100px;
    border-bottom: 1px solid #9f6934;
}

/* .figure-container {
    display: flex;
    justify-content: space-between;
} */
.osnivaci-delo-left {    
    white-space: pre;
    text-align: left;
}
#osnivaci-container-galerija {
    width: 100%;
    margin-top: 0px;
    text-align: center;
    background-color: #f7f7f7;
}
.osnivaci-inner-container-galerija {
    float: left;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.osnivaci-galerija {
    margin: 20px auto;
}
.osnivaci-delo-galerija {
    border: none;
}
.osnivaci-delo img {
    width: 300px;
    height: 300px;
}

.baner {
    width: 20%;
    float: left;
    margin: 0px;
    padding: 0px;
    /* white-space: pre-wrap; */
}

#dropdown-autori {
    position: sticky;
    top: 40px; 
    font-size: 20px;
    z-index: 2;
}
#dropdown-autori-content {
    margin: 0px;
    padding: 0px;
    background-color: #f7f7f7;
    height: 400px;
    overflow: auto;
}
#dropdown-autori-content li {
    list-style-type: none;
    transition: background-color 0.10s ease-in-out;
}
.special-a {
    background-color: #531D09;
    color: #ffffff;
    font-size: 22px;
    padding: 3px;
    text-align: center;
}
#dropdown-autori-content li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000000;
    transition: opacity 0.10s ease-in-out, color 0.10s ease-in-out;
}
#dropdown-autori-content li:hover  {
    background-color: #ffffff;
} 
#dropdown-autori-content li a:hover{
    opacity: 0.5;
    color: #531D09;
}
#osnivaci-container-galerija ul.autori-ul {
    height: auto;
    width: 200px;
    margin: 50px auto;
    background-color: #f5f1f1;
}
#osnivaci-container-galerija ul.autori-ul li {
    width: 200px;
    margin: 0px auto;
}
#osnivaci-container-galerija h3 {
    width: 30%;
    margin: 0px auto;
}
.prijavi-se {
    padding: 100px 0px;
}
.prijavi-se a:hover{
    background-color: #ffffff;
    color: #4406d6;
}
.news {
    float: left;
   
    overflow: hidden;
    /* overflow: clip;
    overflow-clip-margin: 10px; */
}
.news .article-news {
    background-color: #f7f7f7;
    border-bottom: 1px solid #9f6934;
}
.news .article-news a{
    /*white-space: pre-wrap;*/
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.news .article-news .article-news-content p{
    padding: 10px;
}
.news .img-container {
    width: 100%;
}
.news .img-container img.article-news-img {
    width: 175px;
    height: 250px;
}
.news .article-news {
    margin: 20px 0px;
    transition: opacity 0.2s ease-in-out;
}
.news .article-news:hover {
    opacity: 0.5;
}
.news .article-news-first {
    margin-top: 0px;
    margin-bottom: 20px;
}
.news .article-news p.news-delo, p.news-date {
    background-color: #e9e9e9;
}
.news .article-news p.news-date {
    text-align: left;
    color: #acacac;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
}
#form1 {
    width: 500px;   
    margin: 0px auto;
    padding: 70px 0px;
}
#form1 table {
    width: 100%;
}
#form1 table tr td {
    width: 50%;
    padding: 10px;
    text-align: left;
}
#form1 textarea {
    resize: vertical;
}
#form1 input[type="submit"] {
    padding: 10px 5px;
}
#kontakt-ikonice {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: 0px auto;
    padding: 100px 0px;
}
.kontakt-ikonica {
    font-size: 80px;
}
.kontakt-ikonica i {
    color: #000000;
    transition: color 0.1s ease-in-out;
}
.kontakt-ikonica i:hover {
    color: #531D09;
}
#footer-content-container {
    width: 100%;
    background-color: #0f0401;
}
#autor-opis-container {
    display: flex;
    justify-content: space-around;
}
.autor-opis {
    width: 30%;
    padding: 100px;
    text-align: left;
    line-height: 50px;
}
.autor-opis h2 {
    text-align: center;
    margin-bottom: 100px;
    font-size: 30px;
}
.autor-opis label {
    font-size: 30px;
    display: block;
}
.autor-opis img {
    width: 100%;
    height: auto;
}
.footer-info {
    margin: 0px;
    width: 25%;
    color: #ffffff;
    float: left;
    padding: 150px 0px 50px 0px;
}
.footer-info-logo {
    padding-top: 0px;
}
.footer-logo {
    animation: none;
    margin: 0px;
    top: 50px;
    left: 50px;
}
.footer-links {
    text-align: center;
}
.footer-links a{
    display: block;
    text-decoration: underline;
    color: #ffffff;
    transition: color 0.10s ease-in-out, background-color 0.10s ease-in-out;
}
.footer-links a:hover {
    color: #9f6934;
    background-color: #220a04;
}
#footer-ul li{
    list-style-type: none;
    width: 50%;
    margin: 0px auto;
}
.footer-contact a{
    color: #ffffff;
    font-size: 25px;
    transition: color 0.10s ease-in-out;
}
.footer-contact a:hover {
    color: #9f6934;
}